/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Jost&display=swap");

h1 {
  color: #3c7f72;
  font-size: 30px;
  text-align: center;
  margin: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* Your existing .navbar class */
.navbar {
  color: #3c7f72;
  background-color: #ff724b;
}

/* Style for the links within the navbar */
.navbar a {
  color: #3c7f72;
  font-weight: bold;
}

/* Link Styles */
.link {
  color: #ff724b;
  text-decoration: none;
}
.navbar li {
  margin: 0 30px;
}

/* Form Input Styles */
.input-label {
  position: relative;
  width: 100%;
}

.input-label i {
  position: absolute;
  left: 10px;
  top: 35%;
  line-height: 0;
  color: #fffbed;
  font-size: 20px;
}

/* Container Styles */
.container {
  position: relative;
  width: 50%;
  margin: 10px auto;
}

/* Flexbox and Layout Styles */
.flexbox-item,
.flexbox-image-login,
.flexbox-login-array,
.flexbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Update sizes and properties as needed */
}

.logo {
  max-width: 600px;
  max-height: 600px;
}

/* Input Field Styles */
.Input,
.passwordInput {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #fffbed;
  margin-bottom: 20px;
  color: #fffbed;
}

/* Button Styles */
.loginButton {
  border-radius: 8px;
  border-color: #fffbed;
  height: 40px;
  width: 100%;
  background-color: #fffbed;
  color: #ff724b;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Circle Styles */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: transparent;
  text-align: center;
  color: #fffbed;
  transition: opacity 0.4s, transform 0.4s;
}

.circle:hover {
  transform: scale(1.2);
}

/* Hover Effect on Icons */
.ikon a:hover {
  color: black;
  background-color: #fffbed;
  border-radius: 8px;
}

/* Hover Effect on Dropdown */
.dropdown-item:hover {
  background-color: #444;
  color: #ffcb2f;
}

/* Reset Default Styles */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #fffbed */
  background-color: #fff2d4;
}

.custom-navbar {
  background: linear-gradient(
    109.6deg,
    rgb(255, 251, 237) 0%,
    rgb(255, 203, 47) 20%,
    rgb(211, 74, 36) 80%
  );
  color: #36454f;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #ffcb2f;
}

li {
  margin: 0 10px;
}

.link {
  color: #36454f;
  text-decoration: none;
}

/* Updated styles for the navbar links */
.navbar {
  background: linear-gradient(
    109.6deg,
    rgb(255, 251, 237) 0%,
    rgb(253, 217, 109) 20%,
    rgb(236, 137, 110) 80%
  );
}

/* Font style for the notes and note */
.notes-section h1,
.note-section h1 {
  font-family: "Jost", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #ff724b;
  color: black;
  border-radius: 50px;
}
