
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Jost&display=swap");

h1 {
  color: #3c7f72;
  font-size: 30px;
  text-align: center;
  margin: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

/* Your existing .navbar class */
.navbar {
  color: #3c7f72;
  background-color: #ff724b;
}

/* Style for the links within the navbar */
.navbar a {
  color: #3c7f72;
  font-weight: bold;
}

/* Link Styles */
.link {
  color: #ff724b;
  text-decoration: none;
}
.navbar li {
  margin: 0 30px;
}

body {
  background-image: url("./assets/start.png");
  min-height: 100%;
  /* font-family: "Jost", sans-serif; */
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.input-label {
  position: relative;
  width: 100%;
}

.input-label i {
  position: absolute;
  left: 10px;
  top: 35%;
  line-height: 0;
  color: #fffbed;
  font-size: 20px;
}

/* Container Styles */
.container {
  position: relative;
  width: 50%;
  margin: 10px auto;
}

/* Flexbox and Layout Styles */
.flexbox-item,
.flexbox-image-login,
.flexbox-login-array,
.flexbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Update sizes and properties as needed */
}

.logo {
  line-height: 0px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.navbar {
  color: green;
} 

 .mailInput::placeholder::before,
.passwordInput::placeholder::before {
  content: "\00a0";
}

.mailInput::placeholder::before {
  content: "\f0e0";
}

.passwordInput::placeholder::before {
  content: "\f023";
}

.container {
  position: relative;
  width: 50%;
  margin: 10px 700px;
}

.flexbox-item {
  width: 50px;
  height: 100px;
  margin: 100px;
  background-color: transparent;
  max-width: 50px;
  max-height: 100px;
}

.logo {
  height: 600px;
  width: 600px;
  max-width: 600px;
  max-height: 600px;
}

/* Input Field Styles */
.Input,
.passwordInput {
.flexbox-image-login {
  height: 600px;
  width: 600px;
  max-width: 600px;
  max-height: 600px;
}

.flexbox-login-array {
  width: 500px;
  height: 100px;
  margin-top: 25px;
  max-width: 500px;
  max-height: 100px;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-array {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: transparent;
  color: white;
  width: 500px;
  height: 400px;
  max-width: 500px;
  max-height: 400px;
  margin-top: -80px;

}

.Input {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #fffbed;
  margin-bottom: 20px;
  color: #fffbed;
}

/* Button Styles */
.loginButton {
  border-radius: 8px;
  border-color: #fffbed;
  height: 40px;
  width: 100%;
  background-color: #fffbed;
  color: #ff724b;
=======
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  color: white;
  justify-content: left;
}

.hidden {
  color: transparent;
}

.custom-navbar .navbar-toggler-icon {
  color: white;
}

.custom-navbar .nav-link {
  color: white; 
}

::placeholder {
  color: white;
}
.loginButton {
  border-radius: 8px;
  border-color: white;
  height: 40px;
  width: 100%;
  width: 100%;
  background-color: #ffffff;
  color: rgb(29, 113, 37);
  font-weight: bold;
  margin-bottom: 10px;
}

/* Hover Effect on Icons */
.ikon a:hover {
  color: black;
  background-color: #fffbed;
  border-radius: 8px;
}

/* Hover Effect on Dropdown */
.dropdown-item:hover {
  background-color: #444;
  color: #ffcb2f;
}

/* Reset Default Styles */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;

.passwordInput {
  font-weight: bold; 
  font-size: 1.2rem;
  padding: 10px; 
  border: none; 
  background-color: transparent; 
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  color: white;
}

.showPassword {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  margin-bottom: 20px;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: transparent;
  text-align: center;
  color: white;
  transform: scale(1);
  transition: opacity 0.4s, transform 0.4s;
}

.circle :hover {
  transform: scale(1.2);
}


/* .pwicon {
  padding-right: 25px;
  font-family: "FontAwesome";
  content: "/f070";
} */

.welcomeHeader {
  font-size: 2pc;
  font-weight: bold;
  padding-bottom: 20px;
}


.dropdown-item:hover {
  background-color: #444; 
  color: lightgreen; 
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}


body,
html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #fffbed */
  background-color: #fff2d4;
}

.custom-navbar {
  background: linear-gradient(
    109.6deg,
    rgb(255, 251, 237) 0%,
    rgb(255, 203, 47) 20%,
    rgb(211, 74, 36) 80%
  );
  color: #36454f;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #ffcb2f;
}

li {
  margin: 0 10px;
}

.link {
  color: #36454f;
  text-decoration: none;
}

/* Updated styles for the navbar links */
.navbar {
  background: linear-gradient(
    109.6deg,
    rgb(255, 251, 237) 0%,
    rgb(253, 217, 109) 20%,
    rgb(236, 137, 110) 80%
  );
}

/* Font style for the notes and note */
.notes-section h1,
.note-section h1 {
  font-family: "Jost", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #ff724b;
  color: black;
  border-radius: 50px;
}
=======

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.calendar {
  background: #2b4450;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  height: 501px;
  perspective: 1000;
  transition: 0.9s;
  transform-style: preserve-3d;
  width: 100%;
}


.front {
  transform: rotateY(0deg);
}

.current-date {
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.current-date h1 {
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
}

.week-days {
  color: #dfebed;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 30px 40px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weeks {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.weeks div {
  display: flex;
  font-size: 1.2em;
  font-weight: 300;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.last-month {
  opacity: 0.3;
}

.weeks span {
  padding: 10px;
}

.weeks span.active {
  background: #f78536;
  border-radius: 50%;
}

.weeks span:not(.last-month):hover {
  cursor: pointer;
  font-weight: 600;
}

.event {
  position: relative;
}

.event:after {
  content: "•";
  color: #f78536;
  font-size: 1.4em;
  position: absolute;
  right: -4px;
  top: -4px;
}



.back {
  height: 100%;
  transform: rotateY(180deg);
}

.back input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(73, 114, 133, 0.6);
  color: #dfebed;
  font-size: 1.4em;
  font-weight: 300;
  padding: 30px 40px;
  width: 100%;
}

.info {
  color: #dfebed;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.2em;
  padding: 30px 40px;
}

.info div:not(.observations) {
  margin-bottom: 40px;
}

.info span {
  font-weight: 300;
}

.info .date {
  display: flex;
  justify-content: space-between;
}

.info .date p {
  width: 50%;
}

.info .address p {
  width: 100%;
}

.actions {
  bottom: 0;
  border-top: 1px solid rgba(73, 114, 133, 0.6);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.actions button {
  background: none;
  border: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}

.actions button:first-of-type {
  border-right: 1px solid rgba(73, 114, 133, 0.6);
}

.actions button:hover {
  background: #497285;
  cursor: pointer;
}

.actions button:active {
  background: #5889a0;
  outline: none;
}



.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
} 

